parameters:
    level: 7
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - config/reference.php
    ignoreErrors:
        -
            identifier: method.notFound
            path: tests/Service/MpcTest.php
