<p>
    <a data-toggle="collapse" href="#collapseStationForm" aria-expanded="false" aria-controls="collapseStationForm">
        <i class="fas fa-plus-square"></i>
        {% trans %}Sender hinzufügen{% endtrans %}
    </a>
</p>
<div class="collapse" id="collapseStationForm">
    <div class="card card-body">
        {{ form(add_station_form) }}
    </div>
</div>
